<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXk4x0ZDbU4SgLL7ayvnqfeIjB9eUJnLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>779215032248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.danEnergyMonitor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>danenergymonitor</string>
	<key>STORAGE_BUCKET</key>
	<string>danenergymonitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779215032248:ios:3620e66982f2dd2751494d</string>
</dict>
</plist>